<?xml version="1.0" encoding="utf-8" ?>
<openerp>
    <data>
        <record id="action_cursosgratis" model="ir.actions.client">
            <field name="name">Go Courses (Web)</field>
            <field name="tag">fdu.support.cursos.gratis</field>
        </record>
        <record id="action_pideayuda" model="ir.actions.client">
            <field name="name">Go Ask for Help (Web)</field>
            <field name="tag">fdu.support.pide.ayuda</field>
        </record>
        <record id="action_manuales" model="ir.actions.client">
            <field name="name">Go Manuals (WEB)</field>
            <field name="tag">fdu.support.manuales</field>
        </record>
        <record id="action_ago2014" model="ir.actions.client">
            <field name="name">Aug 2014 Version</field>
            <field name="tag">fdu.support.changelog.ago2014</field>
        </record>
        <record id="action_dic2014" model="ir.actions.client">
            <field name="name">Dec 2014 Version</field>
            <field name="tag">fdu.support.changelog.dic2014</field>
        </record>
        <!-- Acciones de contenido estático -->
        <record id="action_help" model="ir.actions.client">
            <field name="name">Support Page</field>
            <field name="tag">fdu.support.main</field>
        </record>

        <!-- Menú padre (es hijo de Messaging) -->
        <menuitem id="menu_soporte"
                  name="Support"
                  sequence="1"
                  parent="mail.mail_feeds_main" />
        <!-- Menú hijos (son hijos del menú padre que puse recién) -->
        <menuitem id="menu_soporte_principal"
                  name="Support"
                  sequence="1"
                  parent="menu_soporte"
                  action="action_help" />
        <menuitem id="menu_soporte_manuales"
                  name="Manuals"
                  sequence="2"
                  parent="menu_soporte"
                  action="action_manuales" />
        <menuitem id="menu_soporte_cursos"
                  name="Free Courses"
                  sequence="3"
                  parent="menu_soporte"
                  action="action_cursosgratis" />
        <menuitem id="menu_soporte_pregunta"
                  name="Ask for Help"
                  sequence="4"
                  parent="menu_soporte"
                  action="action_pideayuda" />
        <menuitem id="menu_soporte_ago2014"
                  name="Ago 2014 Version"
                  sequence="5"
                  parent="menu_soporte"
                  action="action_ago2014" />
        <menuitem id="menu_soporte_dic2014"
                  name="Dec 2014 Version"
                  sequence="6"
                  parent="menu_soporte"
                  action="action_dic2014" />
    </data>
</openerp>